{% extends 'clinic/base.html' %}
{% block title %} Najd Clinic {% endblock %}
{% block content %}
<div class="d-flex">
    <div class="w-50 m-4 px-4 border rounded-3 shadow-sm">
        <h1 class="my-3 border-bottom pb-2">Najd Clinic!</h1>
        <p class="ms-3"><i class="bi bi-hash"></i> You're welcome in Najd Clinic!</p>
        <p class="ms-3"><i class="bi bi-hash"></i> Where your health is our priorty.</p>
        <p class="ms-5"><i class="bi bi-arrow-return-right"></i> Browse all doctors: (<a href="{% url 'clinic:doctors' %}" class="link-secondary"><i class="bi bi-link-45deg"></i> DOCTORS</a>)</p>
        <p class="ms-5"><i class="bi bi-arrow-return-right"></i> Search for a doctor? (<a href="{% url 'clinic:search' %}" class="link-secondary"><i class="bi bi-link-45deg"></i> SEARCH</a>)</p>
    </div>
    <div class="w-50 m-4 px-4 border rounded-3 shadow-sm">
        <h1 class="my-3 border-bottom pb-2">New Doctors Joined</h1>
      
    </div>
</div>
{% endblock %}