{% extends 'WebsiteApp/base.html' %}

{% block title %} Hope Clinics-Home {% endblock %}

{% block content %}
<div class="b-example-divider"></div>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">Future of Health Care.</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 justify-content-between">Since it's inception in 1996, Hope Clinics has been aiming to provide our patients with high-quality health care services.We ensure unparalleled care through the area's top clinicians, advanced clinical and informational technology and state-of-the-art medical equipment. We believe in working together as a team and maximizing the unique knowledge, judgment and skills of every caregiver to achieve the best outcomes possible.</p>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
        </div>
      </div>
    </div>
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2">Why choose Hope Clinic?</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            
          </div>
          <h3 class="fs-2">More experience</h3>
          <p>The million patients we treat each year prepares us to treat the one who matters most — you.</p>
          
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            
          </div>
          <h3 class="fs-2">The right answers</h3>
          <p>Count on our experts to deliver an accurate diagnosis and the right plan for you the first time.</p>
          
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            
          </div>
          <h3 class="fs-2">You come first</h3>
          <p>Treatment at Hope Clinic is a truly human experience. You're cared for as a person first.</p>
          
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          </div>
          <h3 class="fs-2">Innovation with impact</h3>
          <p>All of our patient care, education and research are driven to make discoveries that can help heal you..</p>
          
        </div>
      </div>
    </div>
    
{%endblock%}