{% extends 'ClinicApp/base.html' %}

{% block title %} Add a Doctors {% endblock %}

{% block content %}

<h1>Add New Doctor</h1>

    <form class="row align-items-center" action="" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
        <div class="mb-3">
            <label  class="form-label">Name</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="mb-3">
            <label  class="form-label">Description</label>
            <textarea type="text" class="form-control" name="description"></textarea>
        </div>

        <div class="mb-3">
            <label  class="form-label">specialization:</label>
            <select id="pet-select" name="specialization">
                <option value="">-Please choose-</option>
                <option value="Family medicine">Family medicine</option>
                <option value="surgery">Surgery</option>
                <option value="Dental">Dental</option>
            </select>
        </div>

        <div class="mb-3">
            <label  class="form-label">Experience Years</label>
            <input type="integer" class="form-control" name="experience_years">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-text w-25">Rateing</div>
            <input type="number" name="rating" class="form-control" placeholder="Rate out of 10 (number only)" step="0.1" min="0" max="10">
        </div>

        <input class="btn btn-primary" style="background-color: #39c2d1; color: white;" type="submit" value="Add Doctor" />
    </form>
{% endblock %}