{% extends 'MoathClinic/base.html' %}
{% load static %}
{% block title %} Gallery {% endblock %}

{% block content %}
<span class="border border-danger">

<div class="container-md">
<img src="{% static 'images/Clinic1.jpg' %}" class="img-fluid" alt="..." width="500">
<img src="{% static 'images/Clinic2.jpg' %}" class="img-fluid" alt="..." width="500">
<img src="{% static 'images/Clinic3.jpg' %}" class="img-fluid" alt="..." width="500">
<img src="{% static 'images/Clinic4.jpg' %}" class="img-fluid" alt="..." width="500">
<img src="{% static 'images/Clinic5.jpg' %}" class="img-fluid" alt="..." width="500">
<img src="{% static 'images/Doctor.jpg' %}" class="img-fluid" alt="..." width="500">
</span>
</div>






{% endblock %}