<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} CLINIC {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
       
        
</head>

<body>
    <div class="container" style="font-family: 'Cormorant Garamond', serif;">
        <header class="d-flex justify-content-between py-3">
            <div>
                
                <a class="navbar-brand" style="font-family: 'Cormorant Garamond', serif; 
                text-decoration: none;
    color: #373027;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;" href="#">THE CLINIC </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <ul class="nav nav-pills">

                    <li class="nav-item"><a href="{% url 'ClinicApp:list_doctors' %}" 
                    class="nav-link " style="
                    color: #373027;
                    background-color:#3730272f;
                    text-decoration: none;
                    font-size: small;
                    font-weight: 100;
                    display: inline-block;
                    padding: 0.9375em 2.1875em;
                    letter-spacing: 1px;
                    border-radius: 15px;
                    margin-bottom: 40px;
                    transition: 0.7s ease;"
                            aria-current="page">Home</a></li>
                            
                    <li class="nav-item"  ><a href="{% url 'ClinicApp:add_doctor' %}" class="nav-link" style=" color: #373027;
                        background-color:#3730272f;
                        text-decoration: none;
                        font-size: small;
                        font-weight: 100;
                        display: inline-block;
                        padding: 0.9375em 2.1875em;
                        letter-spacing: 1px;
                        border-radius: 15px;
                        margin-bottom: 40px;
                        transition: 0.7s ease;">Add Doctor</a></li>
                </ul>
            </div>
            <form role="search" method="GET" action="{% url 'ClinicApp:list_doctors' %}" >
                <input class="form-control" type="search" placeholder="Search" name="search ; class="nav-link style=" color: #373027;
                background-color:#3730272f;
                text-decoration: none;
                font-size: small;
                font-weight: 100;
                display: inline-block;
                padding: 0.9375em 2.1875em;
                letter-spacing: 1px;
                border-radius: 15px;
                margin-bottom: 40px; "
                aria-label="Search">
            </form>
        </header>
    </div>

    
    <div class="container  pt-4 mt-4;  " style="font-family: 'Cormorant Garamond', serif;">
        {% block content %}
        {% endblock %}
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>