{% extends 'clinic/base.html' %}
{% block title %} Dr. {{doctor.name}} {% endblock %}
{% block content %}
            <div class="w-75 m-4 px-4 border rounder-3 mx-auto">
                <h1 class="my-3 border-bottom pb-2 ps-3">{{doctor.name}}</h1>
                <p class="ms-5 d-flex justify-content-between">
                    <span>{{doctor.specialization}}</span>
                    <span class="d-flex align-items-center">
                        Patients: 
                    </span>
                </p>
                <p class="ms-3 mb-4 ps-4">{{doctor.description}}</p>
            </div>
            <div class="w-75 m-4 px-4 border rounder-3 mx-auto">
                <h1 class="my-3 border-bottom pb-2 ps-3">Book Appointment</h1>
                <p class="ms-5 mb-4 ps-4">
                    <form class="row align-items-center" action="{% url 'clinic:book' doctor.id %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-2">
                            <div class="input-group-text w-25">Name</div>
                            <input type="text" name="name" class="form-control" placeholder="Patient Name">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-text w-25">Case</div>
                            <textarea type="text" name="case" rows="10" class="form-control" placeholder="Case Description..."></textarea>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-text w-25">Age</div>
                            <input type="number" name="age" class="form-control" placeholder="Age (numbers only)" min="0" max="40">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-text w-25">Date</div>
                            <input type="datetime-local" name="date" class="form-control" step="0.1" min="0" max="5">
                        </div>
                        <div class="input-group mb-2 justify-content-center mt-3">
                            <input type="submit" value="Create Post" class="btn btn-secondary">
                        </div>
                    </form>                   
                </p>
            </div>
            <div class="w-75 m-4 px-4 border rounder-3 mx-auto">
                <h1 class="my-3 border-bottom pb-2 ps-3">Appointments</h1>
                <p class="ms-5 mb-4 ps-4">
                    <table class="table">
                        <thead>
                          <tr scope="row">
                            <th scope="col">Name</th>
                            <th scope="col" class="text-center">Age</th>
                            <th scope="col" class="text-center">Case</th>
                            <th scope="col" class="text-center">Attend</th>
                          </tr>
                        </thead>
                        <tbody>
                    {% for appointment in appointments %}
                    <tr scope="row">
                        <td scope="col"><i class="bi bi-arrow-return-right"></i> {{appointment.name}}</td>
                        <td scope="col" class="text-center">{{appointment.age}}</td>
                        <td scope="col" class="text-center">{{appointment.case}}</td>
                        <td scope="col" class="text-center">{{appointment.attended}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>                                    
                </p>
            </div>
{% endblock %}
