{% extends 'clinic/home.html' %}
{% block title %} {{doctors.name}} {% endblock%}
{% block content %}

<h1>Doctor detail</h1>

{% if "search"  in  request.GET %}
    <h2> Search results for "{{ request.GET.search }}": </h2>
{% endif %}

<div class="container">
    <table class="table">
        <thead>

        <tr>
            <th scope="col">Name</th>
            <th scope="col"> description</th>
            <th scope="col">rating</th>
            <th scope="col">experience_years</th>
            <th scope="col">specialization</th>
        </tr>
        </thead>
        <tbody>
            {% for doctors in doctor %}
            <tr>
                <th scope="row"><a href="{% url 'clinic:list_doctors' %}">{{ doctors.name }}</a></th>
                <td>{{ doctors.description }}</td>
                <td>{{ doctors.rating }}</td>
                <td>{{ doctors.experience_years }}</td>
                <td>{{ doctors.specialization }}</td>
                <td>


                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}