{% extends 'clinic/base.html' %}


{% block content %}

<h1>Doctors List</h1>



    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Specialization</th>
            <th scope="col">years of experience</th>
            <th scope="col">rating</th>
        </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <th scope="row"><a href="{% url 'clinic:detail_page' doctor.id %}">{{ doctor.name }}</a></th>
                <td>{{ doctor.description }}</td>
                <td>{{ doctor.specialization }}</td>
                <td>{{ doctor.experience_years }}</td>
                <td>{{ doctor.rating }}</td>
                
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}